@use '../Abstract/colors';

#about{
  display: flex;
  flex-direction: column;
  .me{
    display: flex;
    justify-content: center;
    align-items: center;
    .presentation{
      h4{
        color: colors.$special;
        line-height: 10px;
        display: flex;
        align-items: center;
      }
      h2{
        color: colors.$text;
        font-size: 50px;
        line-height: 20px;
      }
      h1{
        color: #fff;
        font-size: 45px;
        line-height: 10px;
      }
      p{
        font-size: 20px;
        line-height: 10px;
        color: colors.$text;
      }
    }
  }
}