@use "../Abstract/colors";

.title{
  display: flex;
  float: left;
  span{
    font-size: 40px;
    color: colors.$special;
    margin-right: 10px;
  }
  h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #ffff;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
}

.title h1 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 160px;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 13px;
}
.title h1:before {
  background-color: #c50000;
  content: "";
  display: block;
  height: 3px;
  width: 75px;
  margin-bottom: 5px;
}

.title h1:after {
  background-color: #c50000;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 75px;
  margin-bottom: 0.25em;
}

#experience {
  margin-top: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang {
  width: 33.33%;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: 30px;
  .data {
    position: relative;
    overflow: hidden;
    .icon {
      font-size: 80px;
      color: colors.$text;
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        color: colors.$tertiary;
      }
    }
    p {
      text-align: center;
      font-size: 20px;
      line-height: 1px;
      color: colors.$text;
    }
  }
}
