/* Color Variables*/

$bg_color: #232946;
$text: #b8c1ec;
$button: #99545e;
$button_text: #232946;
$stroke: #121629;
$secondary: #fffffe;
$tertiary: #da9ea7;
$special: rgb(60, 240, 165);

/* Color Variables*/