@use '../src/Styles/Abstract/colors';

.App{
  background-color: colors.$bg_color;
  .section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    section{
      height: 100vh;
      margin: 20px;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  }
}

